
<style>
body {
  background-color: grey;
}

h1 {
  color: black;
  text-align: center;
   font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
</style>