
<style>
body {
  background-color: grey;
}

h1 {
  color: black;
  text-align: center;
   font-family: "Press Start 2p";
}

p {
  font-family: "Press Start 2p";
  font-size: 20px;
}
</style>